<!DOCTYPE html>
<html>
<head lang="ko">
	<meta charset="utf-8">
	<title>Really Fine?</title>
	<script src="../../js/jquery-3.4.0.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		var DustChart;
		var LocChart;
		var AwsChart;
		//var param_type = getQuery('type');
		var param_type = null;
		var param_menu = getQuery('menu');
		var param_RF = getQuery('RFmenu');

		$(function(){
			$("#header").load("web_header.html");
		});
		
		$.get("../../php/getTopMenu.php?menu=" + param_menu, function(data){
			$("#topFrame").append(data);
		});
		
		$.get("../../php/getNavMenu.php?RFmenu=" + param_RF, function(data){
			$("#fullFrame").append(data);
		});

		$.get("../../php/getLocation.php?district=02", function(data){
			$("#district").append(data);
		});

		$.get("../../php/getLocation.php?local=02", function(data){
			$("#local").append(data);
		});

		$(document).ready(function(){
			var searchDate = document.getElementById("searchDate");
			searchDate.value = '2019-05-01';
		});

		function getQuery(param){
			var url = window.location.search.substring(1);
			var url_arr = url.split('&');

			for(var i = 0;i < url_arr.length;i++){
				var key_value = url_arr[i].split('=');

				if(key_value[0] == param){
					return key_value[1];
				}
			}
		}

		google.charts.load('current', {'packages':['corechart']});
	
		function drawChart_dust(){
			var searchDate = document.getElementById("searchDate");
			var district = document.getElementById("district");
			var local = document.getElementById("local");
			var type0 = document.getElementById("type0");

			if(type0.checked == true)
				param_type = '0';
			else 
				param_type = '1';
			var jsonData = $.ajax({
				url:"../../php/getChart.php?section=1001&date=" + searchDate.value + "&station=" + local.value + "&type=" + param_type,
				dataType:"json",
				async: false
			}).responseText;

			var data = new google.visualization.DataTable(jsonData);

			var options = {
				title:'Public Dust Data',
				legend:{position:'bottom'},
				chartArea:{width:'95%', height:'65%'}};

			DustChart = new google.visualization.LineChart(document.getElementById('line_chart_dust'));

			DustChart.draw(data, options);
		}

		function drawChart_AwsLoc(){
			var searchDate = document.getElementById("searchDate");
			var district = document.getElementById("district");
			var local = document.getElementById("local");
			var type0 = document.getElementById("type0");

			if(type0.checked == true)
				param_type = '0';
			else 
				param_type = '1';

			var jsonData = $.ajax({
				url:"../../php/getChart.php?section=1101&date=" + searchDate.value + "&station=" + local.value + "&type=" + param_type,
				dataType: "json",
				async: false
			}).responseText;

			var data = new google.visualization.DataTable(jsonData);

			var options = {
				title:'Public AWS Direction value',
				legend:{position:'bottom'},
				chartArea:{width:'95%', height:'65%'},
				colors:['#990099']};

			LocChart = new google.visualization.LineChart(document.getElementById('line_chart_AwsLoc'));

			LocChart.draw(data, options);
		}
	
		function drawChart_Aws(){
			var type0 = document.getElementById("type0");

			if(type0.checked == true)
				param_type = '0';
			else 
				param_type = '1';
			var jsonData = $.ajax({
				url:"../../php/getChart.php?section=1201&date=" + searchDate.value + "&station=" + local.value + "&type=" + param_type,
				dataType: "json",
				async: false
			}).responseText;
			
			var data = new google.visualization.DataTable(jsonData);

			var options = {
				title:'Public AWS Velocity',
				legend:{position:'bottom'},
				chartArea:{width:'95%', height:'65%'},
				colors:['#109618']};

			AwsChart = new google.visualization.LineChart(document.getElementById('line_chart_AWS'));

			AwsChart.draw(data, options);
		}

		function changeDist(){
			var district = document.getElementById("district");
			var local = document.getElementById("local");
			
			local.options.length = 0;

			var localData = $.ajax({
				url:"../../php/getLocation.php?local=" + district.value,
				dataType:"html",
				async:false
			}).responseText;
			
			$("#local").append(localData);
		}

		function changeLoc(){
			var district = document.getElementById("district");
			var local = document.getElementById("local");
			
		}

		function UpdateChart(){
			DustChart.clearChart();
			LocChart.clearChart();
			AwsChart.clearChart();
			/*
			//console.log(searchDate.value, district.value, local.value);
			var searchDate = document.getElementById("searchDate");
			var district = document.getElementById("district");
			var local = document.getElementById("local");

			var DustData = $.ajax({
				url:"../php/getChart.php?section=1001&date=" + searchDate.value + "&station=" + local.value,
				dataType:"json",
				async: false
			}).responseText;
			

			var DirecData = $.ajax({
				url:"../php/getChart.php?section=1101&date=" + searchDate.value + "&station=" + local.value,
				dataType:"json",
				async: false
			}).responseText;

			var AwsData = $.ajax({
				url:"../php/getChart.php?section=1202&date=" + searchDate.value + "&station=" + local.value,
				dataType:"json",
				async:false
			}).responseText;

			console.log(DustData);
			console.log(DirecData);
			console.log(AwsData);

			var Dust_options = {
				title:'Public Dust Data',
				legend:{position:'bottom'},
				chartArea:{width:'95%', height:'65%'}};

			var Direc_options = {
				title:'Public AWS Direction value',
				legend:{position:'bottom'},
				chartArea:{width:'95%', height:'65%'},
				colors:['#990099']};

			var Aws_options = {
				title:'Public AWS Velocity',
				legend:{position:'bottom'},
				chartArea:{width:'95%', height:'65%'},
				colors:['#109618']};
			
			DustChart = new google.visualization.LineChart(document.getElementById('line_chart_dust'));
			LocChart = new google.visualization.LineChart(document.getElementById('line_chart_AwsLoc'));
			AwsChart = new google.visualization.LineChart(document.getElementById('line_chart_AWS'));
			DustChart.draw(DustData, Dust_options);
			LocChart.draw(DirecData, Direc_options);
			AwsChart.draw(AwsData, Aws_options);
			*/
			google.charts.setOnLoadCallback(drawChart_dust);
			google.charts.setOnLoadCallback(drawChart_AwsLoc);
			google.charts.setOnLoadCallback(drawChart_Aws);
		}
		
		google.charts.setOnLoadCallback(drawChart_dust);
		google.charts.setOnLoadCallback(drawChart_AwsLoc);
		google.charts.setOnLoadCallback(drawChart_Aws);
	</script>

	<style>
		.page-wrapper{
			width:1000px;
			margin:0 auto;
		}
	</style>
</head>

<body>
	<div id="header"></div>
	<div id="topFrame"></div>
	<nav id="fullFrame"></nav>
	<div id="dataFrame">
		<div id="selector">
			<select id="district" onchange="changeDist()"></select>
			<select id="local" onchange="changeLoc()"></select>
			<input id="searchDate" name="searchDate" type="date">
			<input type="radio" id="type0" name="time" value="0" checked>일별<input type="radio" id="type1" name="time" value="1">월별
			<input id="updateChart" name="updateChart" type="button" value="데이터 검색" onclick="UpdateChart()">
		</div>
		<div class="page-wrapper">
			<br />
			<h2 align="center">Fine Dust & AWS Data</h2>
			<div id="line_chart_dust" style="width:100%; height:500px"></div>
			<div id="line_chart_AwsLoc" style="width:100%; height:500px"></div>
			<div id="line_chart_AWS" style="width:100%; height:500px"></div>
		</div>
	</div>
</body>
</html>
