@charset = "utf-8";

.TopParent{
	position:absolute;
}

.TopList{
	float:left;
	cursor:pointer;
}

.TopList{
	padding-left:20px;
	padding-right:20px;
}

.TopList:hover ul{
	transition: transform 0.4s;
	display:block;
}

#topFrame ul{
	list-style-type:none;
	margin:0px;
}

.inList{
	display:none;
}

nav{
	margin-top:250px;
	clear:both;
}
